header{
    background-color: red;
    margin: 2%;
    padding: 1%;
    border: 2px solid black;
}

main{
    background-color: green;
    margin: 3%;
    padding: 1%;
    border: 2px solid black;
}

footer{
    background-color: blue;
    margin: 2%;
    padding: 1%;
    border: 2px solid black;
}

h2{
    font-size: 30px;
    text-decoration: underline;
}

.destaque{
    font-style: italic;
    background-color: rgba(150, 0, 0, 0.5);
}

#importante{
    border-top: 2px solid red;
}